.instruction {
    padding-bottom: 120px;

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 411px;
        background-position: center;
        background-size: cover;
        border-radius: 24px;
        padding: 24px;
        flex: 1;
        gap: 16px;
        transition: flex-basis 0.3s, flex-grow 0.3s;

        &:first-child {
            background-image: url(@img/instruction-img-1.webp);
            background-position-x: 20%;
        }

        &:nth-child(2){
            background-image: url(@img/instruction-img-2.webp);
            background-position-x: 65%;
        }
        &:nth-child(3){
            background-image: url(@img/instruction-img-3.webp);
            background-position-x: 70%;
        }
        &:nth-child(4){
            background-image: url(@img/instruction-img-4.webp);
            background-position-x: 40%;
        }


        &:hover {
            flex: 0 0 50%;
            z-index: 2;
        }
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        padding: 8px 24px;
        width: 56px;
        height: 56px;
        background: #fff;
        font-weight: 500;
        font-size: 20px;
        color: #000;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #fcf7f0;
        margin-top: auto;
        word-wrap: break-word;
        overflow-wrap: anywhere;

        .breakable {
            display: inline-block;
            white-space: normal;
        }
    }

    &__text {
        position: absolute;
        font-weight: 500;
        font-size: 16px;
        color: #fcf7f0;
        opacity: 0;
        padding-right: 150px;
        transform: translateY(30px);
        transition: opacity 0.3s, transform 0.3s;
    }

    &__btn {
        border: 1.5px solid rgba(255, 255, 255, 0.6);
        border-radius: 100px;
        padding: 16px 22px;
        height: 51px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        position: absolute;
        bottom: 24px;
        right: 24px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }
}
